@import url('https://fonts.cdnfonts.com/css/lattolatoo');
.desc1{
    text-align: start;
    margin-top: -40%;
    margin-left: 4%;
    font-family: 'Lattolatoo', sans-serif;
    font-size: 19px;
}



.desc2{
    text-align: end;
    margin-top: -16.5%;
   margin-right: 3%;
   font-family: 'Lattolatoo', sans-serif;
   font-size: 17px;
}









